name: 'John'
email: 'john@example.com'
address: 'The Internet'
phone: '1234567890'

summary: |-
  A big paragraph summarising my experience in the job industry.

skills:
  - 'Being cool'
  - 'Making lots of money'
  - 'Winning the lottery'

experiences:
  - education:
    name: 'Education'
    items:
    - name: 'Highschool'
      date: '2018'
      achievement: 'Graduated'
      info:
        - 'Only got stuffed into 5 lockers.'

  - employment:
    name: 'Employment'
    items:
    - name: 'Google'
      date: 'Febuary 2020–Febuary 2022'
      achievement: 'Janitor'
      info:
        - 'Mopping floors'
        - 'Doing work'

    - name: 'Local Newspaper'
      date: 'April 2016–April 2020'
      achievement: 'Newspaper Delivery (part-time)'
      info:
        - 'Riding a bike'
        - 'Throwing paper at annoying dogs'


referees: 'Available upon request.'
